body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="password"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
